<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>your study status questionnaire</title>
    <style>
        input[type="radio"] {
            margin-right: 5px;
        }

      .programming-level {
            display: none;
        }
      input[type="number"] {
            width: 50px;
        }
    </style>
</head>

<body>
    <a href="{{ url_for('home', username=session.get('username')) }}" style="font-size: 20px;">Back to Home</a>
    <form method="post" action="{{ url_for('submit_status') }}">
        <!-- select your term -->
        <label for="terms" style="font-size: 20px;">Term:</label>
        <br>
        {% for term in terms %}
        <input type="radio" id="{{ term }}" name="terms" value="{{ term }}" style="font-size: 20px;">
        <label for="{{ term }}" style="font-size: 20px;">{{ term }}</label>
        {% endfor %}
        <br>
        <!-- select your Student_Professional_Background -->
        <label for="student_professional_background" style="font-size: 20px;">Your Professional Background:</label>
        <br>
        <div>
            {% for background in student_professional_backgrounds %}
                <input type="checkbox" id="{{ background }}" name="student_professional_background" value="{{ background }}" style="font-size: 20px;">
                <label for="{{ background }}" style="font-size: 20px;">{{ background }}</label><br>
            {% endfor %}
        </div>
        <br>
        <!-- Select the language and the corresponding language level -->
        <h2>Select Languages:</h2>
        {% for language in languages %}
        <div>
            <input type="checkbox" id="{{ language }}" name="languages" value="{{ language }}" onchange="showLanguageLevel(event)">
            <label for="{{ language }}">{{ language }}</label>
            <div class="language-level">
                <label for="{{ language }}_level">Language Level:</label>
                <select id="{{ language }}_level" name="{{ language }}_level">
                    {% for level in language_levels %}
                    <option value="{{ level }}">{{ level }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endfor %}
        <br>
<!-- which programming skill do you know -->
<label for="programming_level" style="font-size: 20px;">your programming skill:</label>
<div>
        {% for programming_language in programming_languages %}
        <div>
        <input type="checkbox" id="{{ programming_language }}" name="programming_languages" value="{{ programming_language }}" onchange="showProgrammingLevel(event)">
        <label for="{{ programming_language }}">{{ programming_language }}</label>
        <div class="programming-level">
            <label for="{{ programming_language }}_level">Programming Level:</label>
            <select id="{{ programming_language }}_level" name="{{ programming_language }}_level">
                {% for level in programming_levels %}
                <option value="{{ level }}">{{ level }}</option>
                {% endfor %}
            </select>
        </div>
        </div>
        {% endfor %}
</div>
    <!-- select your major name -->
<label for="major_name" style="font-size: 20px;">Major Name:</label>
<br>
{% for major in student_majors %}
<div>
    <input type="radio" id="major_{{ major.Major_Name }}" name="major_name" value="{{ major.Major_Name }}" style="font-size: 20px;" onchange="showMajorDirection(this.value)">
    <label for="major_{{ major.Major_Name }}" style="font-size: 20px;">{{ major.Major_Name }}</label>
    <div id="direction_{{ major.Major_Name }}" class="direction - container" style="display:none;">
        <label for="direction_name" style="font-size: 15px;">Major Direction:</label>
        <div id="directionSubOptions_{{ major.Major_Name }}">
            {% for direction in major.Direction_Name %}
            <input type="radio" id="direction_{{ direction }}" name="direction_name" value="{{ direction }}" style="font-size: 20px;">
            <label for="direction_{{ direction }}" style="font-size: 15px;">{{ direction }}</label><br>
            {% endfor %}
        </div>
    </div>
</div>
<br>
{% endfor %}

        <!-- select your Student_Math_Background -->
        <label for="student_math_background" style="font-size: 20px;">Your Math Background:</label>
        <br>
        <div>
            {% for level in student_math_levels %}
            <input type="radio" id="{{ level }}" name="student_math_background" value="{{ level }}" style="font-size: 20px;">
            <label for="{{ level }}" style="font-size: 20px;">{{ level }}</label><br>
            {% endfor %}
        </div>
        <br>
         <!-- Number of courses to choose -->
        <label for="number_courses_to_choose" style="font-size: 20px;">Number of Courses to Choose:</label>
        <input type="number" id="number_courses_to_choose" name="number_courses_to_choose" style="font-size: 20px;">
        <br>
        <!-- Available exercise time per week -->
        <label for="available_exercise_time_per_week" style="font-size: 20px;">Available Exercise Time Per Week (hours):</label>
        <input type="number" id="available_exercise_time_per_week" name="available_exercise_time_per_week" style="font-size: 20px;">
        <br>

        <input type="submit" style="font-size: 20px;" value="submit">
    </form>

    <script>
        window.onload = function() {
            // Hide all programmatic horizontal select boxes when the page loads
            var programmingLevels = document.querySelectorAll('.programming-level');
            programmingLevels.forEach(function(levelDiv) {
                levelDiv.style.display = 'none';
            });
            var languageLevels = document.querySelectorAll('.language-level');
            languageLevels.forEach(function(levelDiv) {
                levelDiv.style.display = 'none';
            });
        };
        function showLanguageLevel(event) {
            var checkbox = event.target;
            // Get the parent element of the checkbox
            var parentDiv = checkbox.parentNode;
            // Find child elements with the language-level class in the parent element
            var languageLevelDiv = parentDiv.querySelector('.language-level');
            if (checkbox.checked) {
                languageLevelDiv.style.display = 'block';
            } else {
                languageLevelDiv.style.display = 'none';
            }
        }
    function showProgrammingLevel(event) {
            var checkbox = event.target;
            // Get the parent element of the checkbox
            var parentDiv = checkbox.parentNode;
            // Find child elements with the programming-level class in the parent element
            var programmingLevelDiv = parentDiv.querySelector('.programming-level');
            if (checkbox.checked) {
                programmingLevelDiv.style.display = 'block';
            } else {
                programmingLevelDiv.style.display = 'none';
            }
        }
    function showMajorDirection(selectedMajor) {
    // Hide all MajorDirection containers
        var directionContainers = document.querySelectorAll('.direction-container');
        directionContainers.forEach(function (container) {
              container.style.display = 'none';
        });
        var targetDirectionContainer = document.getElementById('direction_' + selectedMajor);
        if (targetDirectionContainer) {
            targetDirectionContainer.style.display = 'block';
        }
    }
    </script>
</body>

</html>