<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>homepage</title>
</head>

<body>
    <h1>Welcome back {{ username }}</h1>
    <ul>
        <li><a href="#" style="font-size: 20px;">Home</a></li>
        <li><a href="#" style="font-size: 20px;">Course</a></li>
        <li><a href="#" style="font-size: 20px;">Recommendation</a></li>
        <li><a href="#" style="font-size: 20px;">More</a></li>
    </ul>
<a href="{{ url_for('questionnaire') }}" style="font-size: 20px;">Submit your study status!</a>
    <br>
    <a href="{{ url_for('logout') }}" style="font-size: 20px;">log out</a>
</body>

</html>