<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Course</title>

</head>

<body>
    <a href="{{ url_for('home', username=session.get('username')) }}" style="font-size: 20px;">Back to Home</a>
    {% for course in courses %}
    <div class="course-item">
        <h2>{{ course.Course_Name }}</h2>
        <p><strong>Course_Teacher:</strong> {{ course.Course_Teacher }}</p>
        <p><strong>Course_Language:</strong> {{ course.Course_Language }}</p>
        <p><strong>Description:</strong> {{ course.Course_Description }}</p>
    </div>
    {% endfor %}
</body>

</html>