

{% extends 'dashboard_layout.html' %}
{% block title %}Course Description{% endblock %}
{% block content %}
<!-- Course Content -->
    <section class="course-description-content">
        {% if course %}
        <div class="course-header">
            <h3>A look into the course</h3>
            <h1>{{ course.name }}</h1>
            <p><strong>Math Level:</strong> <span class="math-level">{{ course.math_level }}</span></p>
    
    
            <div class="grid-container">
                <div style="display: flex; flex-direction: column;">
                    {% if course.core_concepts %}
                    <p><strong>Core concepts</strong> </p>
                    <div class="grid-container">
                        {% for concept in course.core_concepts %}
                        <div class="grid-item">
                            {{ concept }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
    
                    <p><strong>Description</strong> </p>
                    <div class="course-explanation">
                        <textarea name="" disabled>{{ course.description }}</textarea>
                    </div>
                </div>
                {% if radar == 'chart' %}
                <div style="display: flex; height: 500px; width: 100%;" id="graph">
                    {{ graph | safe }}
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </section>
{% endblock %}