<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>

<body>
    <!-- Sidebar -->
    <!-- Sidebar -->
    <div class="dashboard-container">
        <aside class="sidebar">
            <div class="logo">
                <h2>Smart CS</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home', username=username) }}" class="">Dashboard</a></li>
                    <li><a href="{{ url_for('course') }}">Courses</a></li>
                    <li><a href="{{ url_for('insights') }}">Insights</a></li>
                    <!-- <li><a href="{{ url_for('course') }}">Questionnaire</a></li> -->
                    <li><a href="{{ url_for('setting') }}">Setting</a></li>
                </ul>
            </nav>
            <div class="user-profile">
                <img src="{{ url_for('static', filename='images/user_image.png') }}" alt="User Profile">
                <p>Hey {{ username }}</p>
            </div>
        </aside>
    
        <!-- Main Content -->
        <main>
            <!-- Header -->
            <header class="top-header">
                <button class="menu-button" id="menuButton">☰</button>
                <nav>
                    <a href="#">Home</a>
                    <a href="#" class="active">Dashboard</a>
                    <!-- <a href="#">About Us</a> -->
                    <!-- <a href="#">Contact Us</a> -->
                    <a href="{{ url_for('logout') }}" class="logout">Log Out</a>
                </nav>
            </header>
    
            <!-- Fullscreen Menu -->
            <div class="fullscreen-menu" id="fullscreenMenu">
                <button class="close-button" id="closeButton">✖</button>
                <a href="#">Home</a>
                <a href="#" class="active">Dashboard</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#" class="logout">Log Out</a>
            </div>
    
            <!-- Dashboard Content -->
            <section class="dashboard-content">
                <div class="banner">
                    <h1 class="word1">Course Selection Advisor</h1>
                    <h2 class="word2">MSc. Informatik - Duisburg</h2>
                </div>
                <div class="charts-container">
    
                </div>
            </section>
        </main>
    </div>
    </section>
    </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>