<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <style>
        form {
            font - size: 20px;
        }

        label {
            display: block;
            margin - top: 10px;
        }

        input {
            margin - top: 5px;
            padding: 5px;
        }

      .error {
            color: red;
        }

      .success {
            color: green;
        }
    </style>
</head>

<body>
    <a href="{{ url_for('home', username = session.get('username')) }}" style="font - size: 20px;">Back to Home</a>
    <h2 style="font - size: 20px;">Change Password</h2>
    <form method="post" action="{{ url_for('change_password') }}">
        <label for="current_password">Current Password:</label>
        <input type="password" id="current_password" name="current_password" required>
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required>
        <label for="confirm_new_password">Confirm New Password:</label>
        <input type="password" id="confirm_new_password" name="confirm_new_password" required>
        <input type="submit" value="Change Password" style="margin-top: 15px;">
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        {% if success %}
        <p class="success">{{ success }}</p>
        <script>
            // when it is successful, jump to welcome page
            window.location.href = "{{ url_for('welcome') }}";
        </script>
        {% endif %}
    </form>
</body>

</html>
