<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <style></style>
</head>

<body>
    <!-- Sidebar -->
    <div class="dashboard-container">
        <aside class="sidebar">
            <div class="logo">
                <h2>Smart CS</h2>
            </div>
            <nav>
                <ul>
                <li><a href="{{ url_for('home', username=username) }}" class="">Dashboard</a></li>
                <li><a href="{{ url_for('course') }}">Courses</a></li>
                <li><a href="{{ url_for('insights') }}">Insights</a></li>
                <!-- <li><a href="{{ url_for('course') }}">Questionnaire</a></li> -->
                <li><a href="{{ url_for('setting') }}">Setting</a></li>
              
                </ul>
            </nav>
            <div class="user-profile">
                <img src="{{ url_for('static', filename='images/user_image.png') }}" alt="User Profile">
                <p>Hey {{ username }}</p>
            </div>
        </aside>

        <!-- Main Content -->
        <main>
            <!-- Header -->
            <header class="top-header">
                <button class="menu-button" id="menuButton">☰</button>
                <nav>
                    <a href="home.html">Home</a>
                    <a href="dashboard.html" class="active">Dashboard</a>
                    <a href="about.html">About Us</a>
                    <a href="contact.html">Contact Us</a>
                    <a href="{{ url_for('logout') }}"  class="logout">Log Out</a>
                </nav>
            </header>

            <!-- Fullscreen Menu -->
            <div class="fullscreen-menu" id="fullscreenMenu">
                <button class="close-button" id="closeButton">✖</button>
                <a href="home.html">Home</a>
                <a href="dashboard.html" class="active">Dashboard</a>
                <a href="about.html">About Us</a>
                <a href="contact.html">Contact Us</a>
                <a href="logout.html" class="logout">Log Out</a>
            </div>

            <!-- Settings Content -->
            <section class="settings-content">
                <h3>Profile</h3>
                <div class="change-password-form">
                    <h4>Change Password</h4>
                    <form method="post" action="{{ url_for('change_password') }}">
                        <div class="form-group">
                            <label for="current_password">Old Password</label>
                            <input type="password" id="current_password" name="current_password" placeholder="Enter old password" required>
                        </div>
                        <div class="form-group">
                            <label for="new_password">Enter New Password</label>
                            <input type="password" placeholder="Enter new password" id="new_password" name="new_password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirm_new_password">Confirm New Password</label>
                            <input type="password" id="confirm_new_password" name="confirm_new_password" placeholder="Confirm new password" required>
                        </div>
                        <button value="Change Password" type="submit" class="submit-button">Change</button>
                    </form>
                </div>
            </section>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script  src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>